body {
  background-image: url("../images/pilecoin.png");
  background-size: cover;
  opacity: 1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-nav-bar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #046daa;
  width: 100%;
  font-weight: bold;
  font-size: large;
  margin-right: 10px;
  color: white;
}

.top-nav-bar > div {
  flex-shrink: 0;
}

.logo-container {
  text-align: left;
  margin: auto;
  cursor: pointer;
  margin-left: 30px;
  align-items: center;
  display: flex;
  font-size: 25px;
}

.welcome_name {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.top-nav-bar a {
  align-self: flex-end;
  margin-right: 15px;
  text-align: right;
  align-items: flex-start;
  text-decoration: none;
  color: white;
  font-size: large;
}

@media (max-width: 800px) {
  .top-nav-bar {
    flex-direction: column;
    align-items: stretch;
  }
  .top-nav-bar a {
    margin-top: 10;
    align-items: center;
    text-decoration: none;
  }
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 175px;

  width: 100%;
  font-weight: bolder;
  font-size: 35px;
}
p.center-section {
  font-size: 30px;
}
.image-placeholder {
  height: 120px;
}
.project_created_by {
  font-weight: bold;
}
.project_box_funds {
  font-weight: bold;
}
.create_project-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  background: white;
  border: white;
  border-radius: 30px;
  width: 70%;
  height: auto;

  padding-bottom: 20px;
  padding-left: 20px;
  margin: auto;
  margin-top: 30px;
  padding-top: 10px;
}
.createForm {
  font-weight: bold;
}
.form-label {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.form-input {
  margin-bottom: 16px;
  width: 500px;
}

.footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  right: 0;
  padding: 5px;
  text-align: right;
  padding-top: 0px;
  padding-bottom: 20px;
  width: 100%;
  background-color: #8799f6;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40vh;
}

.login-form {
  max-width: 300px;
  width: 100%;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.register-form {
  max-width: 300px;
  width: 100%;
}

.left {
  display: flex;
  width: 100%;
  margin-bottom: 16px;
}

.form-input {
  flex-grow: 1;
  padding: 8px;
  box-sizing: border-box;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

@media (min-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .section {
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex: 1;
    margin-right: 20px;
  }
}

.title-active-projects {
  font-size: 25px;
  font-weight: 500;
}
.success {
  color: "Green";
  width: 800px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
}
.projectlist {
  margin-top: 30px;
}

.project_box {
  padding: 7px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-block: 1px;
  margin-top: 40px;
  border-left-width: 1px;
  border-right-width: 1px;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.active-projects {
  width: 60%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: auto;
}
.name_and_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.box_buttons {
  display: flex;
  align-items: flex-end;

  justify-content: space-between;

  width: 250px;
}

.project_box_donate_button {
  background-color: #046daa;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 48px;
  padding: 5px 20px;
  margin-left: 10px;
}
.project_box_name {
  font-size: 26px;
}
.project_box_edit_button {
  background-color: #046daa;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 48px;
  padding: 5px 20px;
}
.project_box_pic {
  width: 400px;
  height: 300px;
}
.btn_create {
  background-color: #046daa;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 48px;
  padding: 5px 20px;
}
.button {
  background-color: #046daa;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 48px;
  padding: 5px 20px;
}

.edit_project_container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
.edit_button_panel {
  display: flex;
  justify-content: space-between;
}
.create_box_buttons {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.donation_project_name {
  font-size: 1.3em;
}
.donation_box {
  padding: 7px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  border-block: 1px;
  margin-top: 40px;
  border-left-width: 1px;
  border-right-width: 1px;
  background: white;
  border: white;
  border-radius: 40px;
}

.create-project-reward {
  display: none;
}
.form-label-reward {
  display: flex;
  justify-content: flex-start;
  padding-right: 20px;
  padding-bottom: 30px;

  height: 30px;
  width: 650px;
  align-items: center;
}
.add-reward-checkbox {
  padding-left: 20px;
  font-weight: bold;
}
.reward-checkbox {
  height: 30px;
  width: 20px;
}
.projects-fundings {
  display: flex;
  height: 45px;
  justify-content: center;
  font-weight: bold;
}
.projects-fundings a {
  padding-right: 20px;
  cursor: pointer;
  font-size: 25px;
  color: #046daa;
}
.fundings {
  width: 60%;
  margin: auto;

  min-height: 100vh;
  margin-top: auto;
}

.userproject {
  width: 60%;
  margin-bottom: 0px;
  margin-top: 0px;
  min-height: 100vh;
  margin: auto;
}

.checkout {
  display: flex;
  justify-content: space-between;
}

.inputcheck {
  width: 93%;
}

.donation_box {
  border-block: 1px;
  border-color: black;
  border-style: dotted;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  display: block;
}

#funded {
}
.project-name {
  font-size: 30px;
  font-weight: bold;
}
.box_buttons_dash {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
  display: flex;
}
